#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}
.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: transparent;
  // background: rgba(0, 0, 0, 0.5);
}

#popup {
}

#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}

.popupcontent {
  background: #fff;
  position: absolute;
  top: -18%;
  right: 5%;
  background: #fff;
  width: 23%;
  height: 45%;
  &.bigger {
    height: 56%;
    @include respond(phone) {
      height: 43%;
    }
  }

  z-index: 200;
  box-shadow: -5px 16px 48px rgba(0, 0, 0, 0.2);
  @include respond(phone) {
    top: 1%;
    width: 94%;
    height: 40%;
    left: 3%;
    right: 3%;
    border-radius: 1rem;
  }

  .heading {
    padding: 24px 0 24px 24px;
    color: $Very-dark-blue;
    font-size: 1.6rem;
    border-bottom: 1px solid rgba($Dark-grayish-blue, 0.3);
  }
  .empty_msg {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    color: $Dark-grayish-blue;
    margin-top: 20%;
    @include respond(phone) {
      margin-top: 30%;
    }
  }
  .btn-checkout {
    background-color: $Orange;
    border: none;
    border-radius: 0.8rem;
    font-weight: 700;
    color: $Light-grayish-blue;
    width: 85%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .cart--list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    @include respond(phone) {
      height: 9rem;
    }

    overflow-y: auto;
    &_item {
      display: flex;
      align-items: flex-start;
      gap: 1.6rem;
      .product_thumbnail {
        width: 15%;
        border-radius: 0.3rem;
      }
      &_details {
        color: $Grayish-blue;
        font-size: 16px;
        .product__price {
          &-box {
            display: flex;
            gap: 0.4rem;
          }
          &-total {
            font-weight: 700;
            color: $black;
          }
        }
      }
      .delete-icon {
        align-self: center;
        height: 2rem;
      }
    }
  }
}
