.product {
  &-photos {
    &.wrap {
      box-sizing: border-box;
      max-height: 100%;
    }
    &-box {
      height: 42rem;
      background-size: cover;
      @include respond(phone) {
        height: 32rem;
        border-radius: 1rem;
        @include respond(phone) {
          border-radius: 0;
        }
      }
    }
    #content {
      box-sizing: border-box;
      max-width: 80%;
      @include respond(phone) {
        max-width: 100%;
      }
      position: relative;
      .arrow {
        display: none;
        @include respond(phone) {
          display: flex;
        }
        width: 3rem;
        height: 3rem;
        top: 50%;
        img {
          width: 1rem !important;
          // height: 1rem !important;
        }
        &--left {
          left: 12%;
        }
        &--right {
          right: 12%;
        }
      }
    }
    .swiper {
      max-height: 100%;
      border-radius: 1rem;
      @include respond(phone) {
        width: 100vw;
        border-radius: 0;
      }
      &-wrapper {
        justify-content: space-between;
        width: 20vw;
      }
      &-slide {
        align-items: center;
      }
    }
    // img {
    //   width: 100%;
    //   border-radius: 1rem;
    //   @include respond(phone) {
    //     border-radius: 0;
    //   }
    // }
  }
  &-thumbnail {
    width: 20.6%;
    border: none;
    border-radius: 0.8rem;
    &-box {
      display: flex;
      width: 80%;
      gap: 6%;
      margin-top: 2rem;
      @include respond(phone) {
        display: none;
      }
    }

    &-active {
      filter: opacity(0.3);
      font-size: 0;
      border: 2px solid $Orange;
      border-radius: 8px;
      background: $Orange !important;
    }
  }

  &-details {
    padding-right: 6.4rem;
    @include respond(phone) {
      padding: 7% 2rem 0;
    }
  }
  &-brand {
    color: $Orange;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.5px;
    margin: 10% 0 1.2rem;
    @include respond(phone) {
      margin: 0 0 1rem;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 40px;
    color: $black;
    margin-bottom: 5%;
    @include respond(phone) {
      font-size: 2.6rem;
      margin-bottom: 4%;
    }
  }
  &-description {
    font-size: 1.8rem;
    line-height: 1.4;
    color: $Dark-grayish-blue;
    margin-bottom: 2.4rem;
    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
  &-price-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    @include respond(phone) {
      display: inline-block;
    }
  }
  &-price {
    font-size: 25px;
    font-weight: 700;
    @include respond(phone) {
      vertical-align: middle;
      margin-right: 20%;
    }
  }
  &-discount {
    font-weight: 700;
    font-size: 14px;
    color: $Orange;
    background-color: $Pale-orange;
    padding: 3px 12px;
    @include respond(phone) {
      vertical-align: middle;
    }
  }
  &-mrp {
    color: $Grayish-blue;
    text-decoration: line-through;
    font-size: 14px;
    margin-bottom: 2.4rem;
    @include respond(phone) {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      margin-left: 30%;
    }
  }
}
.add-card-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.4rem;
  @include respond(phone) {
    display: block;
  }
}
.change-qty-box {
  background-color: $Light-grayish-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 27%;
  padding: 1.2rem;
  border-radius: 0.6rem;
  @include respond(phone) {
    width: 100%;
    padding: 1.2rem 2rem;
  }
}
.btn-add-cart {
  background-color: $Orange;
  border: none;
  border-radius: 0.8rem;
  font-weight: 700;
  padding: 1.4rem 7rem;
  color: $Light-grayish-blue;

  display: flex;
  align-items: center;
  gap: 1.3rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  .cart-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(9%) saturate(2904%)
      hue-rotate(179deg) brightness(100%) contrast(98%);
  }
  @include respond(phone) {
    width: 100%;
    margin-top: 1.2rem;
    justify-content: center;
  }
}
.thumb {
  height: 9rem;
  width: 20.6%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 8px;
  position: relative;
  // @include respond(tab-port) {
  //   margin-bottom: 0;
  // }
  &:hover::after {
    @include whiteLayer;
  }
  &-active {
    &::after {
      border: 2px solid $Orange;
      @include whiteLayer;
    }
  }
}
