$Mobile: 375px;
$Desktop: 1440px;
// $Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
$border-radius-medium: 0.8rem;

$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: #b6bcc8;
$Light-grayish-blue: #f7f8fd;
$White: #ffffff;
$black: hsl(0, 0%, 0%);
$Orange: #ff7d1a;
$Pale-orange: hsl(25, 100%, 94%);
